<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Thymeleaf</title>
</head>
<body>
	<h1>Template Engine :: Thymeleaf</h1>

	<h2><mark>1. Thymeleaf란?</mark></h2>
	<p>
		Thymeleaf는 Spring boot에서 권장하는 템플릿 엔진 중 하나로
		<mark>HTML 파일 내에서 Java 객체를 직접 출력하거나
		제어문을 사용할 수 있게 해주는 엔진</mark>이다.
		<br><br>

		JSP 처럼 서버 데이터를 표현할 수 있지만,
		HTML에 친화적이므로 브라우저에서도 깨지지 않고 잘 표시되며
		문법이 직관적이다.
	</p>

	<h2>2. Thymeleaf 문법</h2>
	<h3>1) 데이터 접근법</h3>
	<ol>
		<li>
			<b><code>${키값}</code> : Model(request 영역)에 저장된 데이터에 접근</b><br>
			ex) model.addAttribute("키값", data);
		</li>
		<li>
			<b><code>${param.키값}</code> : HTTP 요청 파라미터 데이터에 접근</b><br>
			ex) url?키값=data
		</li>
		<li>
			<b><code>${session.키값}</code> : 세션 영역에 저장된 데이터에 접근</b><br>
			ex) session.setAttribute("키값", data);
		</li>
		<li>
			<b><code>${application.키값}</code> : 애플리케이션 영역에 저장된 데이터 접근</b><br>
			ex) application.setAttribute("x", data);
		</li>
	</ol>

	<h3>2) 데이터 표현법</h3>
	<ol>
		<li>
			<b><code>${변수}</code> : 변수 참조, 변수 접근</b>
		</li>
		<li>
			<b><code>*{변수}</code> : th:object로 바인딩된(연결된) 객체의 속성에 접근하고자 할 때 표현</b>
			ex) 주로 form 태그에서 사용<br>
			&lt;form th:object="${member}"&gt;<br>

			&nbsp;&nbsp;&lt;input type="text" name="memberId" th:field="*{필드명}" /"&gt;<br>
			&nbsp;&nbsp;&lt;input type="password" name="memberPwd" th:field="*{필드명}" /"&gt;<br>
			
			&lt;/from&gt;
		</li>
		<li>
			<b><code>#{키값}</code> : 메시지 표현</b> <br>
			- 고정 텍스트 또는 다국어 처리(i18n) 시 사용. <br>
			- message.properties 파일에 설정된 데이터를 가져옴 (message_국가.properties)
		</li>
		<li>
			<b><code>@{url링크}</code> URL 링크 표현</b>
			ex) 동적인 링크 생성 시 사용 <br>
			&lt;a th:href="@{/product/detail(id=${product.id})}"&gt;상세보기&lt;/a&gt;
		</li>
		<li>
			<b><code>~{}</code> : Fragment 표현</b> <br>
			Fragment : 템플릿 조각을 의미 <br>
			<ul>
				<li>
					<b>[ Fragment 정의 ]</b> th:fragment="이름"
				</li>
				<li>
					<b>[ th:include ]</b> 대상 템플릿 내용만 포함
					<div style="color: red; border: 0.1rem solid red;" th:include="~{fragments/test :: header}">
					</div>
				</li>
				<li>
					<b>[ th:insert ]</b> 대상 템플릿을 삽입
					<div style="color: red; border: 0.1rem solid red;" th:insert="~{fragments/test :: header}">
					</div>
				</li>
				<li>
					<b>[ th:replace ]</b> 대상 템플릿으로 대체
					<div style="color: red; border: 0.1rem solid red;" th:replace="~{fragments/test :: header}">
					</div>
				</li>
			</ul>
		</li>
	</ol>

	<h3>3) 변수(데이터) 출력</h3>
	<ul>
		<li>
			<b><code>th:text="${변수|키값}"</code></b> : 일반 요소의 텍스트 출력
		</li>
		<li>
			<b><code>th:value="${변수}"</code></b> : 입력 요소의 텍스트를 출력 <br>
			* textarea의 경우 th:text 사용해야함!
		</li>
	</ul>
	<pre>
		&lt;span th:text="${post.title}"&gt;제목&lt;/span&gt;
		
		&lt;input type="text" th:value="${post.title}" /&gt;
	</pre>

	<h3>4) 텍스트 출력</h3>

	<!-- th:inline="none" => 타임리프가 인라인 표현식을 해석하지 못하게 설정 -->
	<ul th:inline="none">
		<li>
			<b><code>[[${변수}]]</code></b> : 텍스트 그대로 출력
		</li>
		<li>
			<b><code>[(${변수})]</code></b> : HTML 요소가 있는 경우 해석해서 출력
		</li>
	</ul>

	<h3>5) 조건문</h3>
	<p>
		<b><code>th:if</code>, <code>th:unless</code></b> : 조건에 따라 출력 (null은 false로 인식됨)
	</p>
	&lt;div th:if="${session.loginUser != null}"&gt;xxx사용자 접속&lt;/div&gt; <br>
	&lt;div th:unless="${session.loginUser}"&gt;로그인 필요!&lt;/div&gt;

	<h3>6) 반복문</h3>
	<p>
		<!-- forEach문! -->
		<b><code>th:each="변수명 : ${리스트}"</code></b> : 리스트 순회하며 반복!! (순차적으로 반복!!)
	</p>
	&lt;tr th:each="product : ${productList}"&gt; <br>
	&nbsp;&nbsp;&lt;td th:text="${product.name}"&gt;제품명&lt;/td&gt; <br>
	&nbsp;&nbsp;&lt;td th:text="${product.price}"&gt;제품가격&lt;/td&gt; <br>
	&lt;/tr&gt; <br>

	<h3>7) 날짜 포맷</h3>
	<p>
		<b><code>#dates.format(날짜, 형식)</code></b>
	</p>
	&lt;span th:text="#{dates.format(product.createDate, 'yyyy-MM-dd')}"&gt;여기에 날짜를 표시합니다.&lt;/span&gt;

	<h3>8) 그 외 표현식</h3>
	<ul>
		<li>
			<b><code>${#lists.size(리스트)}</code></b> : 리스트 길이 출력
		</li>
		<li>
			<b><code>${#strings.subString(문자열, 시작위치, 끝위치)}</code></b> : 문자열의 특정 위치를 추출(자르기)
		</li>
		<li>
			<b><code>${#dates.createNow()}</code></b> : 현재 시간 정보를 조회
		</li>
	</ul>

	<!-- 현재 시간정보를 2025-04-17 16:09:30 -->
	<mark><span th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd hh:mm:ss')}">현재시간</span></mark>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>